Repository CovidTrackerFr/vitemadose, pull requests merged in 2021-04, with the labels that each got.

#116 intégration mapharma
  Makefile
  data/input/mapharma.json
  data/input/mapharma_campagnes.json
  scraper/mapharma/__init__.py
  scraper/mapharma/mapharma.py
  scraper/mapharma/mapharma_center_scrap.py
  scraper/mapharma/mapharma_test.py
  scraper/scraper.py
Labels: MaPharma

#142 departementUtils : ajout de tests unitaires et amélioration get_city()
  tests/test_departement.py
  utils/vmd_utils.py
Labels: tests

#260 ARNm lorsque AZ et (+55 ans suite)
  scraper/keldoc/keldoc.py
  scraper/keldoc/keldoc_filters.py
  scraper/pattern/center_info.py
  tests/test_doctolib.py
  tests/test_keldoc.py
  tests/test_scraper.py
Labels: Keldoc, bug

#276 Stats map fix: force Paris timezone
  stats_generation/stats_map.py
Labels: enhancement
