Repository CovidTrackerFr/vitemadose, pull requests merged in 2021-05, with the labels that each got.

#304 Définition d'un internal_id unique et corrections doctolib
  scraper/doctolib/doctolib.py
  scraper/doctolib/doctolib_center_scrap.py
  scraper/maiia/maiia.py
  scraper/mapharma/mapharma.py
  scraper/scraper.py
  tests/fixtures/doctolib/basic-booking.json
  tests/fixtures/doctolib/category-booking.json
  tests/fixtures/doctolib/next-slot-booking.json
  tests/test_doctolib.py
  utils/vmd_utils.py
Labels: Doctolib, blocker

#298 Ajout metadata "last_edit_date" pour stats.json
  stats_generation/stats_available_centers.py
Labels: enhancement

#303 Add blocklist
  data/input/centers_blocklist.json
  scraper/pattern/center_info.py
  scraper/scraper.py
Labels: enhancement

#311 [Doctolib] Fixes #271, filtrer les centres vaccinant vraiment
  Makefile
  scraper/doctolib/doctolib_center_scrap.py
  scraper/doctolib/doctolib_filters.py
Labels: Doctolib, bug

#371 [Ordoclic] 🕜 chronodoses
  scraper/ordoclic.py
  tests/test_ordoclic.py
Labels: Ordoclic, enhancement

#369 [Mapharma] 🕜 chronodoses
  scraper/mapharma/mapharma.py
  tests/test_mapharma.py
Labels: MaPharma, enhancement

#360 [Keldoc] 🕜 chronodoses
  scraper/keldoc/keldoc_center.py
  tests/test_keldoc.py
Labels: Keldoc, enhancement

#367 [Maiia] 🕜 chronodoses
  scraper/maiia/maiia.py
  tests/test_maiia.py
Labels: Maiia, enhancement

#370 Code cleanup
  scraper/opendata/opendata.py
  scraper/scraper.py
Labels: enhancement, refactor

#411 #344 Ajout du code postal à CenterLocation
  scraper/doctolib/doctolib_center_scrap.py
  scraper/maiia/maiia_center_scrap.py
  scraper/mapharma/mapharma.py
  scraper/ordoclic.py
  scraper/pattern/center_info.py
  scraper/pattern/center_location.py
  tests/fixtures/maiia/scrap-center-result.json
  tests/fixtures/ordoclic/search-result.json
  tests/test_center_info.py
  tests/test_center_location.py
  tests/test_departement.py
  tests/test_doctolib_scraper.py
  tests/test_mapharma.py
  utils/vmd_blocklist.py
  utils/vmd_utils.py
Labels: enhancement
